{% extends 'base.html' %}

{% block content %}

<div class="sm:flex flex-row sm:shrink-0 md:shrink-0 text-center items-center justify-center py-3">
<form action="/counters/create" method="POST">
    <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Counter Name:</label>
        <input type="text" id="name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="initial_value" class="block text-gray-700 text-sm font-bold mb-2">Initial Value:</label>
        <input type="number" id="initial_value" name="initial_value" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="flex items-center justify-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Counter</button>
    </div>
</form>
</div>
    
    {% endblock content %}